@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 50px;
  padding: 0;
}

h1, h2, h3 {
  font-family: Lato;
}

h1 {
  text-align: center;
  font-size: 3em;
  letter-spacing: 1px;
  background-color: pink;
  border-radius: 20px;
}

h2 {
  text-align: center;
  background-color: skyblue;
  border-radius: 20px;
}

h3 {
  display: inline;
  border-bottom: 2px solid hotpink;
}

.comments {
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 20px;
}

p, ol {
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 1px;
}

ol {
  background-color: lightgrey;
}
