@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 50px;
  padding: 0;
}

h1, h2, h3 {
  font-family: Lato;
}

h1 {
  text-align: center;
  font-size: 3em;
  letter-spacing: 1px;
  background-color: yellow;
}

h2 {
  text-align: center;
  background-color: skyblue;
}

h3 {
  background-color: lightgrey;
}

.comments {
  background-color: lightgrey;
}

p, ol {
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 1px;
}

ol {
  background-color: lightgrey;
}
